@media screen and (max-width:1600px) {
    .ScreenHide {
       background-color:red;
    }
}


@media (max-width: 1000px) {

Quizfeed {
	max-width:300px;
}

}



HTML {
	padding:none;
	height:100%;
	background-color: f0fff0   ;


}

Body {
	font-family: helvetica,arial;
}

Img {}
.Menu {
	width:50px;
	height:50px;
}
.GroupLogo {
	width:30px;
	height:30px;
}
.UserLogo {
	width:70px;
	height:70px;

}
.QuizzicalLogo {
	height:70%;
	padding-left:10px;
	padding-top:12px;
	float:left;
}
.StuffLogo {
	width:120px;
	height:40px;
	padding-left:30px;
	padding-top:20px;
	padding-right:20px;
	float:left;
}
.Loader {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

TextArea {}
.QuizFeedInfoReplyInput {
	width:100%;
	display:none;
}
.NewComment {
	width:100%;
	height:61px;
	font-size:14px;
	border-bottom:solid #b3e6cc thin;
	border-right:solid #b3e6cc thin;
	border-top:none;
	border-left:none;
	padding:5px;
	position:relative;

}

#NewPost {
	top:80px;
	position:absolute;
}

#NewResultTotal {
	border:solid #b3e6cc thin;
	background-color:#ffebcc  ;

}

#QuizFeedInfoName {
	color:red;
	font-weight:bold;
	font-family:verdana;
	color:ff6600 ;

}

#NewResultScore	{
	width:62px;
	height:62px;
	font-size:24px;
	padding-left:14px;
	float:left;
	border:solid #b3e6cc thin;
	border-left:none;
	-webkit-appearance: none;
	-webkit-border-radius:0px;	
	background-color:#ffebcc;
	position:fixed;
	left:0px;
}

#NewResultTotal	{
	width:62px;
	height:62px;
	font-size:24px;
	padding-left:14px;
	float:left;
	border-bottom:solid #b3e6cc thin;
	-webkit-appearance: none;
	-webkit-border-radius:0px;
	position:fixed;
	left:108px;
}

#NewScoreLabelScore {
	width:30px;
	background-color:E0EBCC ;
	color:grey;
	float:left;
	padding-left:8px;
	padding-right:8px;
	height:60px;
	text-align:center;
	border-bottom:solid #b3e6cc thin;
	border-top:solid #b3e6cc thin;
	position:fixed;
	left:62px;



}

#MiddleText {
	vertical-align:middle;	
	width:30px;
	color:ff6600 ;
	padding-top:13px;
}

#NewScoreLabelType {
	width:36px;
	background-color:E0EBCC ;
	color:grey;
	float:left;
	padding-left:8px;
	padding-right:8px;
	padding-top:25px;
	height:36px;
	text-align:center;
	border-bottom:solid #b3e6cc thin;
	display:none;
	position:fixed;
	left:170px;
}

#NewScoreLabelWhen {
	width:44px;
	background-color:E0EBCC ;
	color:grey;
	float:left;
	padding-left:8px;
	padding-right:8px;
	padding-top:25px;
	height:36px;
	text-align:center;
	border-bottom:solid #b3e6cc thin;
	display:none;
	position:fixed;
	left:322px;
}

#NewScoreType {
	width: 100px;
	text-align: center;
	padding-top:2px;
	height:30px;
	text-indent:10px;
	font-size:16px;
	-webkit-appearance: none;
	-webkit-border-radius:0px;
	float:left;
	height:62px;
	border-style:none;
	background-color:white;
	border-bottom:solid #b3e6cc thin;
	display:none;
	position:fixed;
	left:222px;
}

#NewScoreDate {
	width: 180px;
	text-align: center;
	padding-top:2px;
	height:30px;
	-webkit-appearance: none;
	text-indent:10px;
	font-size:16px;
	-webkit-border-radius:0px;
	float:left;
	height:62px;
	border-style:none;
	background-color:white;
	border-right:solid #b3e6cc thin;
	border-bottom:solid #b3e6cc thin;
	display:none;
	position:fixed;
	left:382px;
}

#NewResultSubmit {
	border-style:solid;
	padding:22px;
	background-color:ff9933   ;
	text-align:center;
	cursor:pointer;
	position:absolute;
	right:130px;
	height:17px;
	border-right-style:none;
	left:562px;
	right:0px;
	display:none;
	border:none;
	color:white;
	position:fixed;
	fonnt-family:verdana;
	font-weight:bold;


}
	

#NewCommentBox {
	left:170px;
	right:130px;
	float:left;
	border-top:solid #b3e6cc thin;
	border-right:none;
	position:fixed;
	right:0px;

}

#NewCommentSubmit {
	border-style:solid;
	padding:20px;
	border-color:red;
	background-color:ff9933   ;
	display:none;
	text-align:center;
	cursor:pointer;
	border:none;
	position:absolute;
	top:142px;
	left:0px;
	right:0px;
	color:white;
	font-weight:bold;
	position:fixed;
	height:20px;
	font-family:verdana;

}

A {}
.NoFormatting {
	text-decoration:none;
	color:inherit;
}
.Underline {
	text-decoration:none;
	color:inherit;
	font-size:12px;
	color:#997A7A;
}
.Underline:hover {
	text-decoration:underline;
}
	

#MainBorder {
}


#GroupTitle {
	height:51px;
	padding-bottom:10px;
	color:green;
	border-top-style:solid;
	border-width:thin;
	border-color:red;
	
}

#GroupLogoName {
	width:130px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top:8px;
}

#GroupLogo {
	float:left;
	padding-right:10px;
}

#GroupName {
	text-align:center;
}

#GroupChange {
	font-size:12px;
	text-decoration:underline;
	color:green;
}

#Groups {
	border-style:solid;
	border-width:thin;
	border-color:red;
	background-color:#FFF5E6;
	left:70px;
	width:200px;
	text-align:center;
	display:none;
	padding:10px;
}

#GroupOption:hover {
	color:red;
}

#RankingsTitle {
	font-size:18px;
	background-color:red;
	text-align:center;
	height:30px;
	padding-top:8px;
	color:white;
	font-weight:bold;
}

#RankingsType {
	float:left;
	width:50%;
	text-align:center;
	border-bottom-style:solid;
	border-width:thin;
	height:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-color:red;
}
.Selected {
	background-color:green;
	color:white;
}
#RankingsType:hover {
	background-color:green;
}

#UserRanking {
	padding-right:40px;
	float:left;
	position:relative;
	margin-top:10px;

}

#RankingPhoto {
	position:relative;
	bottom:0px;
	

}

#RankingPlace {
	position:absolute;
	top:40px;
	left:40px;
	text-align:center;
	background-color:003300;
	border-radius:50px;
	height:30px;
	width:30px;
	font-size:12px;
	padding-top:9px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
	color:white;	
}

#PlacingScore {
	padding-top:1px;
	font-size:10px;
	font-weight:bold;
	font-family:verdana;
}


#MenuButton {
	float:left;
	padding-top:12px;
}
.right {
    right:0px;
    top:0px;
    padding-left:30px;

}

#MenuButtonGraphic {
	padding-left:10px;
	float:left;
}

#MenuButtonLogout {
	float:left;
}

#MenuButtonText {
	color:grey;
	padding-top:17px;
	padding-left:10px;
	float:left;
	color:black;
	font-weight:bold;
	font-family:verdana;
	font-size:18px;
}

#Header {
	background-color:fee9cd           ;
	height:80px;
	width:100%;
	position:fixed;
	z-index:1000;
	left:0px;
	top:0px;
	right:0px;
	
}

#MainContent {
	border-color:red ;
	border-width:thin;
	float:left;
	width:100%;
	max-height:100%;
	position:absolute;
	min-width:500px;
	overflow:scroll;
	top:145px;
	bottom:85px;
	right:0px;


}

#QuizFeed {
	float:left;
	 top:-10px !important;

	padding-left:13px;
	max-width:600px;
	position: absolute;
  left: 50%;
  margin-left: -405px;
  background-color:white;
  

	
}

#QuizFeedItem {
	float:left;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
}

#QuizFeedInfo {
	padding-left:10px;
	float:left;
	min-width:63%;

}
#QuizFeedInfo.NoBubble {
	min-width:98%;
}

#QuizFeedInfoText {
	float:left;
	width:70%;
	font-family:verdana;
}
#QuizFeedInfoText.NoBubble {
	max-width:100%;
}


#QuizFeedInfoPhoto {
	max-width:50px;
	float:left;
	position:relative;
	text-align:right;
	padding-right:20px;
}

#QuizFeedInfoUser {
	padding-top:3px;
	line-height:150%;
}

#QuizFeedInfoTimestamp {
	font-size:10px;
	color:ffa366 ;
	padding-left:0px;
	font-family:verdana;
	padding-top:3px;
}

#QuizFeedInfoStatus {
	color:black;
	font-size:13px;
	padding-top:2px;
	padding-bottom:1px;
	font-family:verdana;
	max-width:300px
}

#QuizFeedInfoComment {
}
.Primary {
	padding-top:7px;
	font-size:14px;
	width:95%;
	line-height:110%;
	color:black;
}
.OtherUser {
	font-size:10px;
	padding-top:4px;
	padding-bottom:5px;
	color:403F3D;
	background-color:F2F2F2;
	max-width:100%;
	padding-left:130px;
}

#QuizFeedInfoReplyName {
	font-size:10px;
	color:black;
	font-weight:bold;
	padding-top:4px;
	padding-bottom:5px;
	float:left;
	padding-right:8px;
	background-color:F2F2F2;
	height:12px;
	padding-left:10px;
	background-color:c2d6d6 ;
	width:100px;
}

#QuizFeedInfoReplyLink {
	color:grey;
	size:10px;
	padding-top:12px;
	font-size:12px;
	cursor:pointer;
	font-family:verdana;
}
#QuizFeedInfoReplyLink:hover {text-decoration: underline; }

#QuizFeedInfoDigLink {
	color:grey;
	size:10px;
	padding-top:12px;
	font-size:12px;
	cursor:pointer;
	font-family:verdana;
}
#QuizFeedInfoDigLink:hover {text-decoration: underline; }

#QuizFeedInfoDelete {
	color:grey;
	size:10px;
	padding-top:12px;
	font-size:12px;
	cursor:pointer;
	font-family:verdana;
}
#QuizFeedInfoDelete:hover {text-decoration: underline; }

#Digs {
	color:DB944D ;
	font-size:12px;
	padding-bottom:5px;
}

#DigsComment{
	padding-right:10px;
	color:DB944D;
	right:0px;
	position:relative;
}

#QuizFeedBubble {
	min-width:200px;
	position:absolute;
	background-color:e67300 ;
	color:white;
	border-radius: 8px;
	border-bottom-left-radius: 8px;
	padding:8px;
	font-size:12px;
	width:40px;
	height:30px;
	padding-top:25px;
	font-family:verdana;
	text-align:center;
	right:20px;
}
.Loading {
	background-color:white !important;
	
}

#DigCommentLink {
	color:AEAEAE;
	cursor:pointer;
}

#BubbleUnderline {
	font-size:12px;
	text-decoration:underline;
	cursor:pointer;
}

#LoadingNotifyResult {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#LoadingNotifyPost {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#LoadingNotifyComment {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#DeletingNotifyPost {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#SavingNotifyProfile {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#SavingDig {
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	background-color:orange;
	border-style:solid;
	padding:20px;
	z-index:5001;
	border-color:darkgreen;
	border-width:thick;
	text-align:center;
}

#CommentRow {
}

#Comments {
	padding-bottom:1px;
}

#Footer {
	background-color:fee9cd;
	position:absolute;
	bottom:0px;
	height:100px;
	border-top:solid #fdd39b  thin;
	overflow-y:auto;
	padding-left:10px;
	left:0px;
	right:0px;

}

#QuizFeedLoading {
	text-align:center;
	padding-top:20px;
}

#QuizFeedLoadingPost {
	text-align:center;
	padding-top:80px;
}

#RightButtons {
	position:absolute;
	right:0px;
	padding-right:20px;
	width:170px;
}

#CommentText {

}

#BlurredImage {
	background-image: url("k_stick.jpg");
	background-size: 100%;
	background-repeat: repeat;
	opacity:0.1;
	min-width:100%;
	min-height:100%;
	position:fixed;
	pointer-events: none;
}